@import "../themes/active/waybar.css";

* {
    font-family: "JetBrainsMono Nerd Font Mono", monospace;
    font-size: 12px;
    min-height: 0;
    padding: 0;
    margin: 0;
}

/* ── Workspaces ── */

#workspaces {
    padding: 0 4px;
}

#workspaces button {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    min-width: 0;
    padding: 0 5px;
}

/* ── Sep + Window title ── */

#custom-sep {
    padding: 0 4px;
}

#window {
    font-size: 11px;
}

/* ── Clock ── */

#clock {
    font-size: 12px;
}

/* ── Right modules ── */

#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#language,
#battery {
    padding: 0 8px;
}
