@import "./theme.css";

box#body {
    margin: 12px;
}

entry {
    background-color: transparent;
    border-radius: 0;
    padding: 10px 14px;
    min-width: 260px;
    font-size: 13px;
}

entry:focus {
    outline: none;
    box-shadow: none;
}

label#clock-label,
label#date-label {
    opacity: 0;
    font-size: 0;
    margin: 0;
    padding: 0;
}

button {
    opacity: 0;
    min-height: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
}

label#error-label {
    font-size: 11px;
}
