/* Flexoki Light — gtklock colors */

window {
    background-color: #FFFCF0;
}

* {
    color: #100F0F;
}

entry {
    border: 1px solid #D0A215;
    color: #100F0F;
    caret-color: #D0A215;
}

entry:focus {
    border-color: #100F0F;
}

entry placeholder {
    color: #B7B5AC;
}

label#error-label {
    color: #D14D41;
}
