/* Flexoki Light — waybar colors */

window#waybar {
    background-color: rgba(255, 252, 240, 0.92);
    color: #100F0F;
}

#workspaces button {
    color: #CECDC3;
}

#workspaces button:not(.empty):not(.focused) {
    color: #878580;
}

#workspaces button.focused {
    color: #100F0F;
}

#workspaces button.urgent {
    color: #D14D41;
}

#custom-sep {
    color: #DAD8CE;
}

#mpris {
    color: #878580;
}

#mpris.paused {
    color: #B7B5AC;
}

#window {
    color: #B7B5AC;
}

#clock {
    color: #403E3C;
}

#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#language,
#battery {
    color: #878580;
}

#pulseaudio.muted {
    color: #CECDC3;
}

#battery.charging {
    color: #66800B;
}

#battery.critical:not(.charging) {
    color: #D14D41;
}

#network.disconnected {
    color: #D14D41;
}
