window {
    background-color: #1C1B1A;
}

* {
    color: #CECDC3;
}

entry {
    border: 1px solid #AD8301;
    color: #CECDC3;
    caret-color: #AD8301;
}

entry:focus {
    border-color: #CECDC3;
}

entry placeholder {
    color: #575653;
}

label#error-label {
    color: #AF3029;
}
