/* Flexoki Dark — waybar colors */

window#waybar {
    background-color: rgba(28, 27, 26, 0.85);
    color: #CECDC3;
}

#workspaces button {
    color: #403E3C;
}

#workspaces button:not(.empty):not(.focused) {
    color: #6F6E69;
}

#workspaces button.focused {
    color: #CECDC3;
}

#workspaces button.urgent {
    color: #AF3029;
}

#custom-sep {
    color: #343331;
}

#mpris {
    color: #6F6E69;
}

#mpris.paused {
    color: #575653;
}

#window {
    color: #575653;
}

#clock {
    color: #B7B5AC;
}

#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#language,
#battery {
    color: #6F6E69;
}

#cpu label,
#memory label,
#pulseaudio label,
#backlight label,
#battery label {
    color: #575653;
}

#pulseaudio.muted {
    color: #403E3C;
}

#battery.charging {
    color: #879A39;
}

#battery.critical:not(.charging) {
    color: #AF3029;
}

#network.disconnected {
    color: #AF3029;
}
