/* Flexoki Dark — wofi colors */

window {
    background-color: #1C1B1A;
    border: 1px solid #AD8301;
}

#input {
    color: #CECDC3;
    border-bottom: 1px solid #343331;
    caret-color: #AD8301;
}

#input:focus {
    border-bottom-color: #AD8301;
}

#text {
    color: #6F6E69;
}

#entry:selected #text {
    color: #CECDC3;
}
